<nav class="languages">
  {%- if lang == "en" -%}
    {%- assign originalTitle = title -%}
  {%- else -%}
    {%- assign originalTitle = en -%}
  {%- endif -%}
  {% assign translations = collections.all | translation: originalTitle %}
  <ul>
    {%- for translation in translations -%}
      {%- assign article_lang = translation.data.lang %}
      {%- if lang == translation.data.lang  -%}
        <li class="selected">({{ article_lang }})</li>
      {%- else %}
        <li><a href="{{ translation.url }}" aria-label="{{ article.data.lang_title }}">({{ article_lang }})</a></li>
      {%- endif -%}
    {%- endfor -%}
  </ul>
</nav>
